<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="fullScreenModalCalendarLabel"></h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      onclick="abort()"
    ></button>
  </div>
  <div class="modal-body">
    <div id="modal-content-div"></div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      onclick="abort()"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-dismiss="modal"
      onclick="save()"
    >
      Speichern
    </button>
  </div>
</div>